#pageLoading {
    background: rgba(255, 255, 255, 1) url(../images/loading.gif) no-repeat;
    background-position: center;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10000;
    top: 0;
}